<!DOCTYPE html>
<html xmlsn:th="http://www.thymeleaf.org">

<head>
	<title>Ubah Pegawai</title>	
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<div class="row">
		<div class ="col-md-6" >
			<div class="card" >
				<div class = "card-header" >Formulir Ubah Pegawai</div>
				<div class="card-body">
					<form th:action="@{/pegawai/ubah}" th:object = ${pegawai} method = "POST">
						<input  type="hidden" th:field="*{id}"></input>
						<input  type="hidden" th:field="*{nip}"></input>
						
						
						<div class="form-group">
							<label class="control-label col-sm-4">Nama:</label>
							<div class="col-sm-10">
						    	<input type="text" class="form-control" name="nama" th:value = "${pegawai.nama}" th:required = "true">
						    </div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-4">Tempat Lahir:</label>
							<div class="col-sm-10">
						    	<input type="text" class="form-control" name="tempat_lahir" th:value = "${pegawai.tempat_lahir}" th:required = "true">
						    </div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-4">Tanggal Lahir:</label>
							<div class="col-sm-10">
						    	<input type="date" class="form-control" name="tanggallahir" th:value = "${pegawai.tanggallahir}" th:required = "true">
						    </div>
						</div>
						
						<div class="form-group">
							<label class="control-label col-sm-4">Tahun Masuk:</label>
							<div class="col-sm-10">
						    	<input type="text" class="form-control" name="tahun_masuk" th:value = "${pegawai.tahun_masuk}" th:required = "true">
						    </div>
						</div>
						
						<div class="form-group">
						    <label class="control-label col-sm-2" >Provinsi:</label>
						    <div class="col-sm-10">
							    <select class="form-control" id = "provinsi" th:required = "true"> 
							    	<option th:text = ${pegawai.instansi.provinsi.nama} th:value = ${pegawai.instansi.provinsi.id}></option>
							    	<a th:each="prov, iterationStatus : ${allProvinsi}">
								    	<option th:text = ${prov.nama} th:value = ${prov.id}></option>
							      	</a>
							    </select>
							</div>
						</div>
						
						<div class="form-group">
						    <label class="control-label col-sm-2">Instansi:</label>
						    <div class="col-sm-10">
						    	<div id = "dropdownInstansi">
								    <select class="form-control" id="instansiAwal" name = "instansi" th:required = "true">
								    	<option th:text = "${pegawai.instansi.nama} + ' - ' + ${pegawai.instansi.provinsi.nama}" th:value = ${pegawai.instansi.id}></option>
								      	<a th:each="instansi, iterationStatus : ${pegawai.instansi.provinsi.listInstansi}">
									      	<option class ="instansi" th:text = "${instansi.nama} + ' - ' + ${instansi.provinsi.nama}" th:value = ${instansi.id}></option>
								      	</a>
								    </select>
							    </div>
							</div>
						 </div>
						 
						 
						 <div class="form-group">
						    <label class="control-label col-sm-2">Jabatan:</label>
						    <div class="col-sm-10">
					
						    	<div id = "kumpulanRowJabatan">
						    		<div th:each = "jabatanlama, iterationStatus1 : ${pegawai.jabatanPegawai}">
				
							    		<select th:name = "'jabatanPegawai[' + ${iterationStatus1.index} + '].jabatan'" class="form-control" th:id = "'row' + ${iterationStatus1.index}"  th:required = "true">
							    			<option th:text = ${jabatanlama.jabatan.nama} th:value = ${jabatanlama.jabatan.id}></option>
									    	<a th:each= "jabs, iterationStatus : ${allJabatan}">
										    	<option th:text = ${jabs.nama} th:value = ${jabs.id}></option>
									      	</a>
									    </select><br>
									 </div>
						    	</div>	
						    	<div style = "color:blue" name="addRow" id= "buttonJabatan">Tambah Jabatan Lainnya</div>
						    	<div style = "color:red" name="deleteRow" id= "buttonHapusJabatan">Hapus Jabatan Terakhir</div><br>		
							</div>
							
						</div>	
						<button type="submit" class="btn btn-primary" method = "POST">Simpan</button>
					</div>
				</form>	
			</div>
		</div>
	</div>		
</body>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src = "https://code.jquery.com/jquery-1.12.4.js"></script>
<script th:inline="javascript">
	$("#provinsi").change(function(){
		console.log("masuk");
		var data = $(this).val();
		$.ajax({
			headers:{	
				Accept : "application/json"
			},
			contentType: "application/json",
			type : "GET",
			data : {id:data},
			url : "/pegawai/cekInstansi",
			dataType : "json",
				success: function(json){
					var obj = JSON.stringify(json); 
					var objs = JSON.parse(obj);
					$(".instansi").remove();
					$("#instansiAwal").remove();
					
					var selectHtml = '<select class="form-control" name="instansi" id = "instansiAwal" required>\n';

		            var optionsHtml = '';

		            $.each(objs, function(i, objs ) {
		            	optionsHtml += '<option value=' + objs.id + '>' + objs.nama + ' - ' + objs.provinsi.nama +'</option>';
		                });

		            var closingSelectHtml = '</select>';
		            $( "#dropdownInstansi" ).append(selectHtml + optionsHtml + closingSelectHtml);
				}
		})
	});
	
	var jabatanCount = /*[[${size}]]*/ 'default';
	$("#buttonJabatan").click(function(){
		if (jabatanCount == -1){
			jabatanCount ++;
		}
		console.log("masuk");
		var data = $(this).val();
		$.ajax({
			headers:{	
				Accept : "application/json"
			},
			contentType: "application/json",
			type : "GET",
			data : {id:data},
			url : "/pegawai/cekJabatan",
			dataType : "json",
				success: function(json){
					console.log(jabatanCount);
					var jab = JSON.stringify(json); 
					var jabatan = JSON.parse(jab);
					
	                var selectHtml = '<select class = "form-control" id ="row' + jabatanCount  + '" name="jabatanPegawai['+ jabatanCount +'].jabatan" required>\n';

	                var optionsHtml = '<option value=null>- Pilih Jabatan -</option>';

	                $.each( jabatan, function(i, jabatan ) {
	                    optionsHtml += '<option value=' + jabatan.id + '>' + jabatan.nama + '</option>';
	                });

	                var closingSelectHtml = '</select><br>';

	                $( "#kumpulanRowJabatan" ).append(selectHtml + optionsHtml + closingSelectHtml);
	                jabatanCount++;
				}
		})
	});
	
	var jabatanCount = /*[[${size}]]*/ 'default';
	$("#buttonHapusJabatan").click(function(){
		var data = $(this).val();
		$.ajax({
			headers:{	
				Accept : "application/json"
			},
			contentType: "application/json",
			type : "GET",
			data : {id:data},
			url : "/pegawai/cekJabatan",
			dataType : "json",
				success: function(json){
					console.log(jabatanCount);
					var jab = JSON.stringify(json); 
					var jabatan = JSON.parse(jab);
	          		$("#row" + jabatanCount).remove();
	          		jabatanCount--;
				}
		})
	});
	
</script>
</html>

